<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>
                <h1>My To-Do List</h1>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="mytodo" placeholder="Add todo here">
            </td>
            <td>
                <button type="button" onclick="post()">ADD</button>
            </td>
            <td>
                <button type="button" onclick="Get()">Get</button>
            </td>
        </tr>
    </table>
    <ul id="myUL">
        
    </ul>
    <script src="Logic.js"></script>
</body>
</html>